<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-bar w3-dark-grey">
    <a style="width: 50%;padding:1% 0 1% 0" href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button w3-hover-indigo">Заповнити дані</a>
    <a style="width: 50%;padding:1% 0 1% 0" href="@Url.Action("ShowData", "Home")" class="w3-bar-item w3-button w3-hover-indigo">Переглянути дані</a>
</div>
<div class="w3-container">
    @RenderBody()
</div>
</body>
</html>